- name: Configure VLANs on Cisco switches
  hosts: all
  gather_facts: no
  connection: network_cli
  tasks:
    - name: Create VLANs
      ios_config:
        lines:
          - "vlan {{ item.id }}"
          - "name {{ item.name }}"
      with_items: "{{ vlans }}"
